@import '../src/assets/css/bootstrap.min.css';
@import '../src/assets/css/style.css';
@import '../src/assets/css/slick.css';



.mat-select-panel-wrap

/*.mat-select-panel */
    {
    background: #fff;
    margin-top: 25px !important;
}


.manage-buttons {
    // float: right;
    // margin-top: -5px;
    // display: flex;
    // justify-content: space-around;
    // align-items: center;
    // flex-direction: row;
    // flex-wrap: nowrap;

    float: right;
    margin-top: -5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    @media(max-width: 367px) {
        padding-top: 10px;
    }

    .edit-button {
        @media(max-width: 367px) {
            padding: 4px 8px 4px 40px;
        }

        padding: 11px 8px 11px 40px;
        border-radius: 6px;
        margin-right: 15px;
        // margin-bottom: 3px;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: .015em;
        text-transform: uppercase;
        box-shadow: 0 0 2px rgba(0, 0, 0, .25);
        background: #272C90;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        color: #FFFFFF;

        &:hover {
            box-shadow: 0 0 2px 3px rgba(98, 99, 100, 0.25);
        }
    }

    .manage-button {
        padding: 15px 5px 15px 35px;
        border: 1px solid #e0e0e0;
        border-radius: 3px;
        font-weight: 600;
        font-size: 10px;
        margin-right: 13px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
        text-transform: uppercase;
        color: #014b2c;

        &:hover {
            box-shadow: 0 0 2px 3px rgba(98, 99, 100, 0.25);
        }
    }

    .pdf-button {
        height: 40px;
        background: url('assets/images/pdf-icon.png') center no-repeat #f6f5f5;
    }

    .excel-button {
        height: 40px;
        background: url('assets/images/excel-icon.png') center no-repeat #f6f5f5;
    }

    .edit-gen {
        width: fit-content;
        background: url('assets/images/edit-get.svg') left 8px center no-repeat, linear-gradient(180deg, #272C90 0, #272C90 100%);
    }

    .dwnld-button {
        background: #f6f5f5;
    }
}

.alrt-container {
    display: flex;
    position: fixed;
    z-index: 1060;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: .625em;
    overflow: hidden;
    transition: background-color .1s;
    -webkit-overflow-scrolling: touch;
    background: rgba(0, 0, 0, .4);

    .alrt-container:not(.alrt-top):not(.alrt-top-start):not(.alrt-top-end):not(.alrt-top-left):not(.alrt-top-right):not(.alrt-center-start):not(.alrt-center-end):not(.alrt-center-left):not(.alrt-center-right):not(.alrt-bottom):not(.alrt-bottom-start):not(.alrt-bottom-end):not(.alrt-bottom-left):not(.alrt-bottom-right):not(.alrt-grow-fullscreen)>.alrt-modal {
        margin: auto;
    }

    .alrt-show {
        -webkit-animation: alrt-show .3s;
        animation: alrt-show .3s;
    }

    .alrt-popup {
        display: none;
        position: relative;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        width: 32em;
        max-width: 100%;
        padding: 1.25em;
        border: none;
        border-radius: .3125em;
        background: #fff;
        font-family: inherit;
        font-size: 1rem;

        .alrt-header {
            display: flex;
            flex-direction: column;
            align-items: center;

            .alrt-progress-steps {
                align-items: center;
                margin: 0 0 1.25em;
                padding: 0;
                background: inherit;
                font-weight: 600;
            }

            ul {
                display: block;
                list-style-type: disc;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                padding-inline-start: 40px;
            }

            .alrt-icon {
                position: relative;
                box-sizing: content-box;
                justify-content: center;
                width: 5em;
                height: 5em;
                margin: 1.25em auto 1.875em;
                border: .25em solid transparent;
                border-radius: 50%;
                font-family: inherit;
                line-height: 5em;
                cursor: default;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                &.alrt-error {
                    border-color: #f27474;
                    color: #f27474;
                }

                &.alrt-question {
                    border-color: #c9dae1;
                    color: #87adbd;
                }

                &.alrt-warning {
                    border-color: #facea8;
                    color: #f8bb86;
                }

                &.alrt-info {
                    border-color: #9de0f6;
                    color: #3fc3ee;
                }

                &.alrt-success {
                    border-color: #a5dc86;
                    color: #a5dc86;
                }

                >div.alrt-icon-content {
                    display: flex;
                    align-items: center;
                    font-size: 3.75em;
                }
            }

            .alrt-image {
                max-width: 100%;
                margin: 1.25em auto;
            }

            img {
                vertical-align: middle;
                border-style: none;
            }

            .alrt-title {
                position: relative;
                max-width: 100%;
                margin: 0 0 .4em;
                padding: 0;
                color: #595959;
                font-size: 1.875em;
                font-weight: 600;
                text-align: center;
                text-transform: none;
                word-wrap: break-word;
            }

            h2 {
                margin-block-start: 0.83em;
                margin-block-end: 0.83em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
            }
        }

        .alrt-content {
            z-index: 1;
            justify-content: center;
            margin: 0;
            padding: 0;
            color: #545454;
            font-size: 1.125em;
            font-weight: 400;
            line-height: normal;
            text-align: center;
            word-wrap: break-word;

            .alrt-input {
                height: 2.625em;
                padding: 0 .75em;
            }

            .alrt-file,
            .alrt-input,
            .alrt-textarea {
                box-sizing: border-box;
                width: 100%;
                transition: border-color .3s, box-shadow .3s;
                border: 1px solid #d9d9d9;
                border-radius: .1875em;
                background: inherit;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .06);
                color: inherit;
                font-size: 1.125em;
            }

            .alrt-checkbox,
            .alrt-file,
            .alrt-input,
            .alrt-radio,
            .alrt-select,
            .alrt-textarea {
                margin: 1em auto;
            }

            button,
            input {
                overflow: visible;
                font-family: inherit;
                line-height: inherit;
            }

            input {
                -webkit-writing-mode: horizontal-tb !important;
                text-rendering: auto;
                letter-spacing: normal;
                word-spacing: normal;
                text-transform: none;
                text-indent: 0px;
                text-shadow: none;
                text-align: start;
                appearance: auto;
                -webkit-rtl-ordering: logical;
                cursor: text;
                font: 400 13.3333px Arial;
            }
        }

        .alrt-actions {
            display: flex;
            z-index: 1;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: 1.25em auto 0;

            .alrt-styled.alrt-confirm {
                border: 0;
                border-radius: .25em;
                background: initial;
                background-color: #3085d6;
                color: #fff;
                font-size: 1.0625em;
            }

            .alrt-styled {
                margin: .3125em;
                padding: .625em 2em;
                box-shadow: none;
                font-weight: 500;
            }

            .alrt-styled:not([disabled]) {
                cursor: pointer;
            }

            .alrt-styled.alrt-cancel {
                border: 0;
                border-radius: .25em;
                background: initial;
                background-color: #aaa;
                color: #fff;
                font-size: 1.0625em;
            }
        }

        .alrt-footer {
            justify-content: center;
            margin: 1.25em 0 0;
            padding: 1em 0 0;
            border-top: 1px solid #eee;
            color: #545454;
            font-size: 1em;
        }

        .alrt-timer-progress-bar-container {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: .25em;
            overflow: hidden;
            border-bottom-right-radius: .3125em;
            border-bottom-left-radius: .3125em;

            .alrt-timer-progress-bar {
                width: 100%;
                height: .25em;
                background: rgba(0, 0, 0, .2);
            }
        }
    }
}

.form-err {
    span {
        font-size: 10px;
        color: #d31e2d;
    }
}

/* end toastr */
.cdk-overlay-container {
    /* this is needed for select dropdown/datepicker to appear above popup modal */
    z-index: 9999 !important;
}