<div class="header_white_card mt-4 mb-4">
  <h1 align="center">Checked In Details</h1>
  <ul class="report_table_breadcrumb" style="justify-content: space-between;">
    <li>
     
    </li>
  </ul>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Sl.NO</th>
      <th>Booking ID</th>
      <th>Booking Date</th>
      <th>Guest Name</th>
      <!-- <th>Contact Number</th> -->
      <!-- <th>ID Proof Type</th> -->
      <th>Checked-In Date</th>
      <th>Room Number</th>
      <!-- <th>Room Type</th> -->
      <!-- <th>Total Stay Cost</th> -->
      <th>Room Price Per Day</th>
      <th>Guest Details</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ditem of DepartmentList; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ ditem.Booking_ID }}</td>
      <td>{{ ditem.BookingDate | date: 'yyyy-MM-dd' }}</td>
      <td>{{ ditem.GuestName }}</td>
      <!-- <td>{{ ditem.ContactNumber }}</td> -->
      <!-- <td>{{ ditem.IdProofType }}</td> -->
      <td>{{ ditem.CheckIn | date: 'yyyy-MM-dd' }}</td>
      <td>{{ ditem.RoomNumber }}</td>
      <!-- <td>{{ ditem.RoomType }}</td> -->
      <!-- <td>{{ ditem.TotalStayCost }}</td> -->
      <td>{{ ditem.RoomPricePerDay }}</td>
      <td>
        <i class="bi bi-eye btn btn-outline-secondary" [routerLinkActive]="['active']" [routerLink]="['/Viewdetails1',ditem.GuestId]">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
          </svg>
        </i>
      </td>
      <td>
        <button type="button" class="btn btn-primary btn-sm" (click)="onCheckOut(ditem.RoomId,ditem.Booking_ID)">Check Out</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Guest Details Modal -->
<!-- <ng-template #AddGuestModal>
    <div class="transaction_modal" style="width: 100%;">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Guest Details</h1>
        <button type="button" class="btn-close" (click)="modalService.hide()" aria-label="Close">Close</button>
      </div>
      <hr style="margin-top: 2px; margin-bottom: 2px;">
      <div class="modal-body">
        <div class="refund_complete_form">
          <form [formGroup]="createUserForm" (ngSubmit)="onAddGuestSubmit()" style="width: 100%;">
            <div class="row">

              <div class="col-lg-6">
                <label>Guest Name</label>
                <div class="form-group" style="width: 100%;">
                  <input matInput id="GuestName" formControlName="GuestName" placeholder="Enter Guest Name" class="form-control">
                  <div class="form-err">
                    <span *ngIf="createUserForm.get('GuestName')?.hasError('pattern')">
                      <strong>Guest Name</strong> is required
                    </span>
                    <span *ngIf="createUserForm.get('GuestName')?.hasError('pattern')">
                      <strong>Invalid</strong> Guest Name. Only alphabets and spaces are allowed.
                    </span>
                  </div>
                </div>
              </div>
              


              
              

              <div class="col-lg-6">
                <label>Contact Number</label>
                <div class="form-group" style="width: 100%;">
                  <input matInput id="ContactNumber" formControlName="ContactNumber" placeholder="Enter Contact Number" class="form-control">
                  <div class="form-err">
                    <span *ngIf="createUserForm.get('ContactNumber')?.hasError('pattern')">
                      <strong>Invalid</strong> Contact Number
                    </span>
                  </div>
                </div>
              </div>

              
              

              <div class="col-lg-6">
                <label>ID Proof Type</label>
                <div class="form-group" style="width: 100%;">
                  <input matInput id="IDProof" formControlName="IDProof" placeholder="Enter ID Proof" class="form-control">
                  <div class="form-err">
                    <span *ngIf="createUserForm.get('IDProof')?.hasError('pattern')">
                      <strong>ID Proof</strong> is required
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <label>ID Proof Number</label>
                <div class="form-group" style="width: 100%;">
                  <input matInput id="IDProofNumber" formControlName="IDProofNumber" placeholder="Enter ID Proof Number" class="form-control">
                  <div class="form-err">
                    <span *ngIf="createUserForm.get('IDProof')?.hasError('pattern')">
                      <strong>ID Proof Number</strong> is required
                    </span>
                  </div>
                </div>
              </div>


             
                          
                          

                        
                      
                    </div>

                    <div class="file-upload">
                      <input type="file" #PhotoFileInput id="Photo-File" FormControlName = "PhotoFileName"
                          (change)="onPhotoFileUpload($event)" style="display: none;">
                      <button type="button" id="uploadButton" class="btn btn-primary upload-resume"
                          style="width: 150px;" (click)="triggerPhotoFileInput()">
                          Upload ID Proof
                      </button>
                  </div>
                  <div *ngIf="selectedPhotoFile" class="file-item">
                      <span>
                          <a [href]="selectedPhotoFileUrl" target="_blank">
                              {{ selectedPhotoFileName ? selectedPhotoFileName : (selectedPhotoFile ?
                              selectedPhotoFile : '') }}
                          </a>
                      </span>
                      <button class="btn btn-sm btn-danger" (click)="deletePhotoFile('Photo-File')">
                          Remove
                      </button>
                      &nbsp;
                      <span role="button" class="btn btn-sm btn-info " (click)="photomodel(photoModal)">
                          show
                      </span>
      
                  </div>

            <div class="row" style="margin-bottom: -10px;">
              <div class="col-lg">
                <hr style="margin-top: 5px; margin-bottom: 5px;">
                <div class="button-holder" style="float: right;">
                  <button type="button" (click)="modalService.hide()" class="btn btn-danger" style="margin: 5px;">Cancel</button>
                  <button type="submit" class="btn btn-success" style="margin: 5px;" [disabled]="!createUserForm.valid">Save</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #photoModal >
    <div class="transaction_modal" style="width: 100%;">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="AddUserModal">ID Proof Type</h1>
        <button type="button" class="btn-close" (click)="modalService.hide()" aria-label="Close">Close</button>
      </div>
  
      <hr style="margin-top: 2px; margin-bottom: 2px;">
  
      <div class="modal-body">
        <img src="{{selectedPhotoFileUrl}}" alt="" >
      </div>
      </div>
  </ng-template>
   -->