<div class="header_white_card mt-4 mb-4">
    <h1 align="center">Rooms Details</h1>
      <ul class="report_table_breadcrumb" style="justify-content: space-between;">
          <li>
              <div class="manage-buttons">
                  <button class="edit-button edit-gen" type="submit"   (click)="onAddRooms(AddRoomsModal)">
                      Add Rooms
                  </button>
                  <!-- <button (click)="export('Excel')" class="manage-button excel-button" type="submit"></button> -->
              </div>
          </li>
      </ul>
      
  </div>
  
  
  
  <table class="table table-striped">
      <thead>
          <tr>
              <th>Sl.NO</th>
              <th>Room ID</th>
              <th>Room Number</th>
              <th>Room Type</th>
              <th>Room Status</th>
              <th>Latest Services</th>
              <th>Action</th>
              
              
              
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let ditem of DepartmentList; let i = index">
              <td>{{ i+1 }}</td>
              <td>{{ditem.RoomId}}</td>
              <td>{{ditem.RoomNumber}}</td>
              <td>{{ditem.RoomType}}</td>
              <td>{{ditem.roomStatus}}</td>
             <td>{{ditem.LatestService}}</td>
             <td><button type="button" class="btn btn-primary" style="margin-left: -60px;" data-bs-toggle="button" aria-pressed="true" (click)="onEditRooms(AddRoomsModal,ditem)">Edit</button></td>
             <td><button type="button" class="btn btn-secondary" style="margin-left: -50px;" data-bs-toggle="button" aria-pressed="true" (click)="onDeleteRooms(deleteTemplate, ditem.RoomId)" >Delete </button></td>
                 
          </tr>
      </tbody>
  </table>


  <ng-template #AddRoomsModal>
    <div class="transaction_modal" style="width: 100%;">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="AddUserModal">Room Details</h1>
        <button type="button" class="btn-close" (click)="modalService.hide()" aria-label="Close">Close</button>
      </div>
  
      <hr style="margin-top: 2px; margin-bottom: 2px;">
  
      <div class="modal-body">
        <div class="refund_complete_form">
          <form [formGroup]="createRoomsForm" (ngSubmit)="onAddRoomsModel()" style="width: 100%;">
  
            <div class="row">
              <div class="col-lg-4">
                <label>Room Number</label>
                <div class="form-group">
                  <input matInput  formControlName="RoomNumber" placeholder="Room Number" class="form-control mb-4">
                </div>
              </div>

              <div class="col-lg-4">
                <label>Room Type</label>
                  <div class="form-group">
                      <mat-select formControlName="RoomTypeId" id="RoomTypeId" class="form-control"
                          placeholder="Select Room Type" (keydown)="$event.stopPropagation()">
                          <mat-option *ngFor="let item of filteredRooms"
                              (keydown)="$event.stopPropagation()" [value]="item.RoomTypeId">
                              {{item.RoomType}}
                          </mat-option>
                      </mat-select>
                  </div>
              </div>


              <div class="col-lg-4" *ngIf="IsEdit == true">
                <label>Room Status</label>
                  <div class="form-group">
                      <mat-select formControlName="roomStatus" id="roomStatus" class="form-control"
                          placeholder="Select Room Type" (keydown)="$event.stopPropagation()">
                          <mat-option value="Booked">Booked</mat-option>
                          <mat-option value="CheckedIn">CheckedIn</mat-option>
                          <mat-option value="CheckOut">CheckOut</mat-option>
                      </mat-select>
                  </div>
              </div>
            </div>
            <div class="row" style="margin-bottom: -10px;">
                <div class="col-lg">
                    <hr style="margin-top: 5px; margin-bottom: 5px;">
                    <div class="button-holder" style="float: right;">
                        <button type="button" (click)="modalService.hide()" class="btn btn-danger"
                            style="margin: 5px;">Cancel</button>
                        <button type="submit" class="btn btn-success" style="margin: 5px;">Save</button>
                    </div>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div> 
</ng-template>


<!-- Inside your room list table -->


<!-- Modal template for delete confirmation -->
<!-- <ng-template #deleteTemplate>
  <div class="modal-body">
    <p>Are you sure you want to delete the room {{ createRoomsForm.value.RoomNumber }}?</p>
    <button (click)="confirmDelete()">Confirm Delete</button>
    <button (click)="modalRef?.hide()">Cancel</button>
  </div>
</ng-template> -->



  <ng-template #deleteTemplate>
    <div class="alrt-container alrt-center alrt-backdrop-show" style="overflow: hidden;">
        <div aria-labelledby="alrt-title" aria-describedby="alrt-content"
            class="alrt-popup alrt-modal alrt-icon-warning alrt-show" ole="dialog" aria-live="assertive"
            aria-modal="true" style="display: flex;">
            <div class="alrt-header">
                <div class="alrt-icon alrt-warning alrt-icon-show" style="display: flex;">
                    <div class="alrt-icon-content">!</div>
                </div>
                <h2 class="alrt-title" id="alrt-title" style="display: flex;">Are you sure?</h2>
            </div>
            <div class="alrt-content">
                <div id="alrt-content" class="alrt-html-container" style="display: block;">
                    You will not be able to recover this data
                </div>
                <input class="alrt-input" style="display: none;">
                <div class="alrt-validation-message" id="alrt-validation-message"></div>
            </div>
            <div class="alrt-actions">
                <button type="button" class="alrt-confirm alrt-styled" aria-label="" (click)="confirmDelete()"
                    style="display: inline-block; background-color: rgb(184, 26, 52); border-left-color: rgb(184, 44, 26); border-right-color: rgb(184, 26, 26);">
                    Yes, delete it!
                </button>
                <button type="button" class="alrt-cancel alrt-styled" (click)="modalService.hide()" aria-label=""
                    style="display: inline-block;">
                    Cancel
                </button>
            </div>
            <div class="alrt-footer" style="display: none;"></div>
            <div class="alrt-timer-progress-bar-container">
                <div class="alrt-timer-progress-bar" style="display: none;">
                </div>
            </div>
        </div>
    </div>
  </ng-template>