$primary-color: #293955;
$success-color: #14c311;
$danger-color: #fb0202;
$warning-color: #f68217;
$info-color: #4ea0ce;
$progress-color: #ffc107;

$agent-color-1: #fff;
$agent-color-2: #000;
//$agent-color-3: #f3f3f4;
$agent-color-3: #eef5f9;
//$agent-color-4: #dbdbdb;
$agent-color-4: #e0ecf3;
$agent-color-5: #696969;
$agent-color-6: #6A6A6A;
$agent-color-7: #fafafc;

$sidebar-agent-color-1: #a7b1c2;