<br>
<div class="container ">
    <nav class="navbar navbar-expand-lg navbar-light bg-light btn btn-outline-secondary  " >
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse nav nav-underline  " id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link text-danger-emphasis" [routerLinkActive]="['active']" [routerLink]="['/dashboard']">Dashboard</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle  text-danger-emphasis" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Bookings
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item text-danger-emphasis" [routerLinkActive]="['active']" [routerLink]="['/booked']">Booked</a></li>
              <li><a class="dropdown-item text-danger-emphasis" [routerLinkActive]="['active']" [routerLink]="['/checkedin']">Checked In</a></li>
              <li><a class="dropdown-item text-danger-emphasis" [routerLinkActive]="['active']" [routerLink]="['/checkedout']">Checked Out</a></li>
            </ul>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/employee']" *ngIf="['SuperAdmin'].includes(userRole)">Employee</a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-danger-emphasis" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Master Data
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['/room']">Rooms</a></li>
              <li><a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['/roomtype']">Room Type</a></li>
              <li><a class="dropdown-item" [routerLinkActive]="['active']" [routerLink]="['/role']">Role</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-danger-emphasis" [routerLinkActive]="['active']" [routerLink]="['/user']" *ngIf="['SuperAdmin'].includes(userRole)">User</a>
            
          </li>
          <li class="nav-item ">
           <a (click)="onLogout()" role="button" class="nav-link text-danger-emphasis">Logout</a>
          </li>
          
        </ul>
      </div>

      <div class="topbar-right-div">
        <ul>
            <li>
                <div class="department-minology-logo d-flex align-items-center">
                    <div class="user_data text-danger-emphasis">
                        <h6>
                            {{ user }}
                        </h6>
                    </div>
                    <span class="icon">
                        <img class="ml-2" src="./assets/images/user_profile_photo.svg" alt="user_profile_photo">
                    </span>
                </div>
            </li>
        </ul>
    </div>

    </nav>
  </div>
  
  <router-outlet></router-outlet>
  